h1{color:pink;}

p{background: grey;width: 100px height:100px; display: inline-block;position: absolute; }

.food{background-color: pink;position: relative;}
.cow{background-color: red;position: relative;}
.fish{background-color: tan;position: relative;}