h1{text-align: center;}

*{box-sizing: border-box;}

p{background: grey;width: 400px; height:150px;
 border:black 2px solid; }

.food{border:black 2px solid; background:pink;width:70px; height:20px;position: absolute;clear: both;}

.cow{background: red;border:black 2px solid;height: 20px; width: 70px;position: absolute;}

.fish{background: tan;border:black 2px solid;height: 20px; width: 70px;position: absolute;}

.div1{position: relative;top:200px;}

.div2{position: relative;  left: 430px; margin-top: 200px;}

.div3{position: relative;left:840px;}
